run = "node server/index.js"
entrypoint = "server/index.js"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["nodejs_20"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 23183
externalPort = 3000

[agent]
expertMode = true
